.loginForms {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px 0;
  min-width: 300px;
}
.loginForms input {
  background-color: #3d4245;
  padding: 13px;
  border-radius: 8px;
  outline: none;
  color: white;
  width: 100%;
  margin-bottom: 5px;
}
.loginForms input::placeholder {
  color: #9e9b8a;
  font-size: 14px;
}
.pasword-Inp {
  position: relative;
}
.password-eye {
  position: absolute;
  top: 30%;
  transform: translateX(-50%);
  right: 1%;
  color: #b1b3b5;
  font-size: 17px;
  cursor: pointer;
}
.loginForms button {
  background-color: #96a825;
  color: var(--white);
  border: 1px solid #96a825;
  border-radius: 30px;
  width: 100%;
  height: 52px;
  margin-top: 1rem;
  color: white;
  font: 600 15px "Proxima";
}
.error-message{
  color: red;
  font: 600 14px 'Proxima';
}

@media (max-width: 550px) {
  .loginForms {
    gap: 7px;
    margin: 20px 0;
    min-width: 270px;
  }
  .loginForms input {
    background-color: #3d4245;
    padding: 11px;
    border-radius: 8px;

    margin-bottom: 4px;
  }
  .loginForms input::placeholder {
    color: #9e9b8a;
    font-size: 13px;
  }
  .pasword-Inp {
    position: relative;
  }
  .password-eye {
    position: absolute;
    top: 30%;
    transform: translateX(-50%);
    right: 1%;
    color: #b1b3b5;
    font-size: 16px;
    cursor: pointer;
  }
  .loginForms button {
    background-color: #96a825;
    color: var(--white);
    border: 1px solid #96a825;
    border-radius: 30px;
    width: 100%;
    height: 52px;
    margin-top: 1rem;
    color: white;
    font: 600 14px "Proxima";
  }
}
