.navbar-login-wiev {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar-login {
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  border-color: transparent;
  display: none;
}

.navbar-login-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px 15px;
}

.navbar-login-left img {
  width: 35px;
  height: 25px;
}

.navbar-login-giris {
  font: 600 14px "Proxima";
  color: black;
}

.navbar-login-uye {
  font: 500 14px "Proxima";
  color: black;
}
.navbar-login-icon {
  display: flex;
  flex-direction: column;
  z-index: 90;
  gap: 5px;
  position: relative;
}

.navbar-login-accaunt {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 9;
  gap: 10px;

}
.navbar-login-accatunt-Head {
  width: 32px;
  height: 32px;
  font-family: ProximaNovaRegularBold;
  background: #525252;
  border: 2px solid #fff;
  color: white;
  border-radius: 32px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}
.navbar-login-accatunt-Context {
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
  background-color: white;
  min-width: 160px;
  border-radius: 8px;
}
.navbar-login-accatunt-Context ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.navbar-login-accatunt-Context ul li {
  color: black;
  font: 600 13px "Proxima";
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  cursor: pointer;
}
.accaount-exit,
.accauntIcon {
  font-size: 15px;
  color: black;
}

@media (min-width: 1150px) {
  .navbar-login {
    display: inline-block;
  }
  .navbar-login-context {
    display: inline-block;
  }
}
