.navbar-login-wiev {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar-login {
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  border-color: transparent;
  display: none;
}

.navbar-login-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px 15px;
}

.navbar-login-left img {
  width: 35px;
  height: 25px;
}

.navbar-login-giris {
  font: 600 14px "Proxima";
  color: black;
}

.navbar-login-uye {
  font: 500 14px "Proxima";
  color: black;
}
.navbar-login-icon {
  display: flex;
  flex-direction: column;
  z-index: 90;
  gap: 5px;
  position: relative;
}
.navbar-login-context {
  position: absolute;
  top: 55px;
  transform: translateX(-50%);
  border-radius: 16px;
  z-index: 9;
  background-color: white;
  min-width: 350px;
  height: auto;
  padding: 10px;
  padding-top: 10px !important;
  padding-bottom: 24px !important;
  transition: all 0.4s;
  display: none;
}
.login-context-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.context-giris {
  width: 150px;
  height: 46px;
  font: 600 16px "Proxima";
  background-color: #98a726;
  color: white;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;
}
.context-uye {
  width: 150px;
  height: 46px;
  font: 600 16px "Proxima";
  background-color: transparent;
  color: #3f444c;
  border-radius: 20px;
  border: 2px solid #ededed;
  cursor: pointer;
}
.navbar-context-img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.navbar-context-img img {
  max-width: 100%;
  vertical-align: middle;
}

.navbar-context-text p {
  font: 600 15px "Proxima";
  line-height: 22px;
  text-align: center;
  opacity: 0.8;
  color: #1e1e1e;
}
.navbar-context-text span {
  text-decoration: underline;
  color: black;
  font-size: 17px;
}
.navbar-login-accaunt {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 9;
  gap: 10px;
  display: none;
}
.navbar-login-accatunt-Head {
  width: 32px;
  height: 32px;
  font-family: ProximaNovaRegularBold;
  background: #525252;
  border: 2px solid #fff;
  color: white;
  border-radius: 32px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}
.navbar-login-accatunt-Context {
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
  background-color: white;
  min-width: 150px;
  border-radius: 8px;
}
.navbar-login-accatunt-Context ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.navbar-login-accatunt-Context ul li {
  color: black;
  font: 600 15px "Proxima";
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  cursor: pointer;
}
.accaount-exit,
.accauntIcon {
  font-size: 20px;
  color: black;
}

@media (min-width: 1150px) {
  .navbar-login {
    display: inline-block;
  }
  .navbar-login-context {
    display: inline-block;
  }
}
