.loginGiris {
  background: linear-gradient(180deg, #121212 0%, #383838 45.44%, #121212 100%);
  min-height: 100vh;
  position: relative;
}
.login_Nav_container {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
  height: 80px;
  padding: 1rem;
}
.login_Section_context {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  z-index: 10;
}
